<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mh.systems.brokenhurst">

    <!-- PERMISSION TO USE INTERNET -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- FOR NETWORK STATE -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- PERMISSION FOR PHONE CALL_PHONE -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- [START gcm_permission] -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.mh.systems.brokenhurst.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.mh.systems.brokenhurst.permission.C2D_MESSAGE" />

    <!-- [END gcm_permission] -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppThemeMaterial">

        <!-- SPLASH ACTIVITY -->
        <activity
            android:name="com.mh.systems.brokenhurst.ui.activites.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LOGIN ACTIVITY -->
        <activity
            android:name="com.mh.systems.brokenhurst.ui.activites.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- DASHBOARD ACTIVITY -->
        <activity
            android:name="com.mh.systems.brokenhurst.ui.activites.DashboardActivity"
            android:screenOrientation="portrait" />

        <!-- COURSE DIARY ACTIVITY -->
        <activity
            android:name="com.mh.systems.brokenhurst.ui.activites.CourseDiaryActivity"
            android:screenOrientation="portrait" />

        <!-- COURSE DIARY DETAIL ACTIVITY -->
        <activity
            android:name="com.mh.systems.brokenhurst.ui.activites.CourseDiaryDetailActivity"
            android:screenOrientation="portrait" />

        <!-- COURSE DIARY ALERT DIALOG -->
        <activity
            android:name="com.mh.systems.brokenhurst.ui.activites.CustomAlertDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/App_Theme" />

        <!-- COMPETITIONS DIARY ACTIVITY -->
        <activity
            android:name="com.mh.systems.brokenhurst.ui.activites.CompetitionsActivity"
            android:screenOrientation="portrait" />

        <!-- COMPLETED COMPETITIONS ACTIVITY -->
        <activity
            android:name="com.mh.systems.brokenhurst.ui.activites.CompletedDetailActivity"
            android:screenOrientation="portrait" />

        <!-- MY ACCOUNT ACTIVITY -->
        <activity
            android:name="com.mh.systems.brokenhurst.ui.activites.YourAccountActivity"
            android:screenOrientation="portrait" />

        <!-- DETAIL INVOICE ACTIVITY -->

        <!-- MEMBERS ACTIVITY -->
        <activity
            android:name="com.mh.systems.brokenhurst.ui.activites.MembersActivity"
            android:screenOrientation="portrait" />

        <!-- MEMBERS DETAIL ACTIVITY -->
        <activity
            android:name="com.mh.systems.brokenhurst.ui.activites.MemberDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeMaterial" />

        <!-- SHOW CERTIFICATE ACTIVITY -->
        <activity
            android:name="com.mh.systems.brokenhurst.ui.activites.ShowCertificateWebview"
            android:screenOrientation="portrait" />

        <!-- CLUB NEWS ACTIVITY -->
        <activity
            android:name="com.mh.systems.brokenhurst.ui.activites.ClubNewsActivity"
            android:screenOrientation="portrait" />

        <!-- CLUB NEWS DETAIL ACTIVITY -->
        <activity
            android:name="com.mh.systems.brokenhurst.ui.activites.ClubNewsDetailActivity"
            android:screenOrientation="portrait" />

        <!-- SETTING SCREEN -->
        <activity
            android:name="com.mh.systems.brokenhurst.ui.activites.SettingsActivity"
            android:screenOrientation="portrait" />

        <!-- RESET PASSWORD SCREEN -->
        <activity
            android:name=".ui.activites.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!-- SEND FEEDBACK SCREEN -->
        <activity
            android:name="com.mh.systems.brokenhurst.ui.activites.SendFeedbackActivity"
            android:screenOrientation="portrait" />

        <!-- SEND FEEDBACK SCREEN -->
        <activity
            android:name="com.mh.systems.brokenhurst.ui.activites.FinanceDetailWebActivity"
            android:screenOrientation="portrait" />

        <!-- MY DETAILS TOGGLE SCREEN -->

        <activity
            android:name="com.mh.systems.brokenhurst.ui.activites.EditToggleDetailActivity"
            android:screenOrientation="portrait" />

        <!-- MY DETAILS EDIT SCREEN -->

        <activity
            android:name="com.mh.systems.brokenhurst.ui.activites.EditDetailsActivity"
            android:screenOrientation="portrait" />

        <!-- HANDICAP HISTORY -->

        <activity
            android:name="com.mh.systems.brokenhurst.ui.activites.HCapHistoryActivity"
            android:screenOrientation="portrait" />

        <!-- COMPETITION DETAIL ACTIVITY -->

        <activity
            android:name="com.mh.systems.brokenhurst.ui.activites.CompetitionDetailActivity"
            android:screenOrientation="portrait" />

        <!-- COMPETITIONS ENTRY -->

        <activity
            android:name="com.mh.systems.brokenhurst.ui.activites.CompetitionEntryActivity"
            android:screenOrientation="portrait" />

        <!-- COMPETITION ENTRY -->

        <activity
            android:name="com.mh.systems.brokenhurst.ui.activites.EligiblePlayersActivity"
            android:screenOrientation="portrait" />

        <!-- UPDATE Password Activity -->

        <activity
            android:name="com.mh.systems.brokenhurst.ui.activites.UpdatePasswordActivity"
            android:screenOrientation="portrait" />

        <!-- See the Weather-->

        <activity
            android:name=".ui.activites.WeatherDetailActivity"
            android:screenOrientation="portrait" />

        <!-- FORGOT Password Activity -->

        <activity
            android:name="com.mh.systems.brokenhurst.ui.activites.ForgotPasswordActivity"
            android:screenOrientation="portrait" />

        <!-- TOP UP PAYMENTS -->

        <activity
            android:name=".ui.activites.MakePaymentWebActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activites.TopUpActivity"
            android:screenOrientation="portrait" />

        <!-- FRIENDS INFO -->

        <activity
            android:name=".ui.activites.FriendsInfoActivity"
            android:screenOrientation="portrait" />

        <!-- START OF PUSH NOTIFICATION SERVICES AND RECEIVERS -->

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="gcm.play.android.samples.com.gcmquickstart" />
            </intent-filter>
        </receiver>

        <service
            android:name=".dataaccess.push.PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name=".dataaccess.push.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <service
            android:name=".dataaccess.push.RegistrationIntentService"
            android:exported="false" />

        <!-- END OF PUSH NOTIFICATION SERVICES AND RECEIVERS -->

    </application>

</manifest>