<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ucreate.mhsystems">

    <!-- PERMISSION TO USE INTERNET -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- FOR NETWORK STATE -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeMaterial">

        <!-- HOME ACTIVITY -->
        <activity
            android:name=".activites.HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- COURSE DIARY ACTIVITY -->
        <activity
            android:name=".activites.CourseDiaryActivity"
            android:screenOrientation="portrait" />

        <!-- COURSE DIARY DETAIL ACTIVITY -->
        <activity
            android:name=".activites.CourseDiaryDetailActivity"
            android:screenOrientation="portrait" />

        <!-- COURSE DIARY ALERT DIALOG -->
        <activity
            android:name=".activites.CustomAlertDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/App_Theme" />

        <!-- COMPETITIONS DIARY ACTIVITY -->
        <activity
            android:name=".activites.CompetitionsActivity"
            android:screenOrientation="portrait" />

        <!-- COMPETITIONS DIARY ACTIVITY -->
        <activity
            android:name=".activites.CompetitionsDetailActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>